<main>
    <!-- tart heading -->
    <div class="heading">
        <div class="heading-home">
            <i class='bx bx-home'></i>
            <span>
                / من نحن
            </span>
        </div>
        <div class="heading-home">
            <span>
                من نحن
            </span>
        </div>
    </div>
    <!-- end heading -->
    <div class="about">
        <div class="about-container">
            <div class="about-img">
                <img src="~/img/pexels-photo-4484078.jpeg" alt="">
            </div>
            <div class="about-text">
                <span>تأسست منذ 2023</span>
                <h2>
                    من نحن
                </h2>
                <p>
                    خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما يجعله أكثر من 2000 عام في القدم. قام البروفيسور "ريتشارد ماك لينتوك" (Richard McClintock) وهو بروفيسور اللغة اللاتينية في جامعة هامبدن-سيدني في فيرجينيا بالبحث عن أصول كلمة لاتينية غامضة في نص لوريم إيبسوم وهي "consectetur"، وخلال تتبعه لهذه الكلمة في الأدب اللاتيني اكتشف المصدر الغير قابل للشك. فلقد اتضح أن كلمات نص لوريم إيبسوم تأتي من الأقسام 1.10.32 و 1.10.33 من كتاب "حول أقاصي الخير والشر" (de Finibus Bonorum et Malorum) للمفكر شيشيرون (Cicero) والذي كتبه في عام 45 قبل الميلاد. هذا الكتاب هو بمثابة مقالة علمية مطولة في نظرية الأخلاق، وكان له شعبية كبيرة في عصر النهضة. السطر الأول من لوريم إيبسوم "Lorem ipsum dolor sit amet.." يأتي من سطر في القسم 1.20.32 من هذا الكتاب. للمهتمين قمنا بوضع نص لوريم إبسوم القياسي والمُستخدم منذ القرن الخامس عشر في الأسفل. وتم أيضاً توفير الأقسام 1.10.32 و 1.10.33 من "حول أقاصي الخير والشر" (de Finibus Bonorum et Malorum) لمؤلفه شيشيرون (Cicero) بصيغها الأصلية، مرفقة بالنسخ الإنكليزية لها والتي قام بترجمتها هـ.راكهام (H. Rackham) في عام 1914.
                </p>
            </div>
        </div>
    </div>
    <!-- tart heading -->
    <div class="heading">
        <div class="heading-home">
            <i class='bx bx-home'></i>
            <span>
                / خدمات
            </span>
        </div>
        <div class="heading-home">
            <span>
                خدمات
            </span>
        </div>
    </div>
    <!-- end heading -->

    <div class="services">
        <div class="services-container">
            <!-- services-box 1 -->
            <div class="services-box">
                <div class="services-icon">
                    <i class='bx bxs-truck y'></i>
                </div>
                <h4>الشحن المجاني والإرجاع</h4>
                <span>لجميع الطلبات التي تزيد عن 99$</span>
            </div>
            <!-- services-box 2 -->
            <div class="services-box">
                <div class="services-icon">
                    <i class='bx bxs-credit-card'></i>
                </div>
                <h4>الدفع الآمن</h4>
                <span>نحن نضمن الدفع الآمن</span>
            </div>
            <!-- services-box 3 -->
            <div class="services-box">
                <div class="services-icon">
                    <i class='bx bx-transfer'></i>
                </div>
                <h4>ضمان استعادة الاموال</h4>
                <span>أي رجوع خلال 30 يومًا</span>
            </div>
            <!-- services-box 4 -->
            <div class="services-box">
                <div class="services-icon">
                    <i class='bx bx-support'></i>
                </div>
                <h4>خدمة دعم العملاء</h4>
                <span>اتصل أو راسلنا 24/7</span>
            </div>
        </div>
    </div>
</main>