<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MasterPiece</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/checkout2.css" asp-append-version="true" />

	<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" asp-append-version="true" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="~/css/check.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/newcheckout.css" asp-append-version="true" />
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
@* 	<link rel="stylesheet" href="~/css/profile-shared.css" asp-append-version="true" /> *@



</head>
<body>



	<header>
		<!-- top-header  -->
		<nav class="top-header">
			<div class="container">
				<div class="right-nav">
					<span> العروض وفر حتي 45% خصم اليوم</span>
					<div class="contact-info">
						<i class='bx bx-headphone'></i>
						<span>+962 775 994747</span>
					</div>
				</div>
				<div class="left-nav">
					@if (Context.Session.GetInt32("id")!=null)
					{
						<div class="account-button">
							<i class='bx bx-user'></i>
							<a asp-area="" asp-controller="profile" asp-action="profile">حسابي</a>
						</div>
					}
					else
					{
						<div class="login-button">
							<i class='bx bx-log-in-circle'></i>
							<a asp-area="" asp-controller="Home" asp-action="login">تسجيل / الدخول</a>
						</div>
					}



				</div>
			</div>
		</nav>
		<!-- bottom-header -->
		<nav class="bottom-header">
			<div class="container">
				<!--logo-->
				<!-- <a href="" class="logo"><img src="img/logo.png" alt=""></a> -->
				<a asp-controller="Home" asp-action="index" class="logo"><i class='bx bx-laptop'></i></a>
				<nav class="navbar">
					<a asp-area="" asp-controller="Home" asp-action="index">الرئيسة</a>
					<a asp-area="" asp-controller="Home" asp-action="index">المنتجات</a>
					<a asp-area="" asp-controller="Home" asp-action="contact">تواصل معنا</a>
					<a asp-controller="Home" asp-action="about">من نحن</a>
				</nav>
				<div class="icon-container">
					<div class="whishlist-count">2</div>
					<a href="whishlist.html"><i class='bx bx-heart'></i></a>
					<div class="cart-count" id="cart-count">4</div>
					<a asp-controller="Checkout" asp-action="Cart" id="add-to-cart-global"><i class='bx bxs-shopping-bags'></i></a>
					<a href=""><i class='bx bx-search-alt'></i></a>
				</div>

			</div>
		</nav>
	</header>


	<div class="container-fluid">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>


	<footer class="footer">
		<div class="continer-footer">
			<div class="rew-footer">
				<!-- col-footer 1 -->
				<div class="col-footer">
					<a href="#" class="logo"><img src="~/img/logo.png" alt=""></a>
					<p>
						لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر.
					</p>
					<div class="social-links">
						<i class='bx bxl-instagram-alt'></i>
						<i class='bx bxl-twitter'></i>
						<i class='bx bxl-tiktok'></i>
						<i class='bx bxl-youtube'></i>
						<i class='bx bxl-linkedin'></i>

					</div>
				</div>
				<!-- col-footer 1 -->
				<div class="col-footer">
					<h4>روابط سريعه</h4>
					<ul>
						<li><a href="">الرئيسة</a></li>
						<li><a href="">من نحن</a></li>
						<li><a href="">تواصل معنا</a></li>
						<li><a href="">الشروط والأحكام</a></li>
						<li><a href="">الأسئلة الشائعة</a></li>
					</ul>
				</div>

				<!-- col-footer 1 -->
				<div class="col-footer">
					<h4>متابعه الحساب</h4>
					<ul>
						<li><a href="">طلباتى</a></li>
						<li><a href="">متابعه الطلبات</a></li>
						<li><a href="">الإرجاع والاستبدال</a></li>
						<li><a href="">حسابى</a></li>
						<li><a href="">معلوماتى</a></li>
					</ul>
				</div>

				<!-- col-footer 1 -->
				<div class="col-footer">
					<h4>ابقى على تواصل</h4>
					<div class="contact-details">
						<div class="contact-detail">
							<i class='bx bxs-map'></i>
							<span>الاردن, اربد </span>
						</div>
						<div class="contact-detail">
							<i class='bx bxs-envelope'></i>
							<span>anas.malkawy1999@gmail.com </span>
						</div>
						<div class="contact-detail">
							<i class='bx bxs-phone-call'></i>
							<span>+962 775 994747 </span>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="copy">
			<p>جميع الحقوق محفوظة</p>
		</div>
	</footer>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/main.js" asp-append-version="true"></script>
	<script src="~/js/checkout.js" asp-append-version="true"></script>
	<script src="~/js/profile-shared.js" asp-append-version="true"></script>




	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
